:root{
  --header-footer: black;
  --header-font: black; 
  --link-font:white;
  --h2backbg: #D3D3D3;
  --cardcolour: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

footer{
  height: 25%;
}

a{
  color:black
}

ul{
  list-style-type:none;
  padding:0;
}

li{
  display: list-item;
  text-align: -webkit-match-parent;
}
.navbar, footer{
  background-color: var(--header-footer);
}

.topHeader {
  color: white;
}


.nounderline{
  text-decoration: none !important
}
.carousel{
  min-height: 33%;
  max-height: 33%;
}

.imgCar {
  top: 0;
  left: 0;
  min-height: 500px;
}

.indenttitle{
  text-indent: 5%;
}

.titlebg{
  background-color: var(--h2backbg);
}

.centerCard{
  background-color: var(--cardcolour);
}

.mapcontainer{
  max-width:750px;
  min-width: 300px;
}

.linkfont{
  color: var(--link-font)
}

@media screen and (max-width: 575px){
  .stat-block{
      margin: 20px 0;
  }
  .imgCar{
    min-height: 250px;
  }
 
}